@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap')
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap')

$manga: #E5E1E6
$void: #170F1E
$spark: #FFE27D
$surf: #64E3FF
$psybeam: #9092FF
$giga: #B4FF39

body
  background: $void!important
  min-height: 100vh
  font-family: 'JetBrains Mono', monospace!important

::selection
  background-color: $giga
  color: $void

section
  background: $void

h1, h2, h3, h4, h5
  font-family: 'JetBrains Mono', monospace
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px $psybeam

.binary-message
  white-space: nowrap
  overflow: hidden
  position: fixed
  left: 50%
  transform: translateX(-50%)

  @media (max-width: 767px) 
    .binary-message 
        display: none
    

#header-art-1
  position: absolute
  z-index: -1
  margin: 0
  // opacity: 0.2
  top: 0
  right: 0

#header-art-2
  position: absolute
  z-index: -1
  margin: 0
  opacity: 0
  bottom: 0
  left: 0

@media only screen and (max-width: 1000px )
  #header-art-2
    opacity: 0.2

  #scroll-down
    opacity: 0

.particleBg
  position: absolute

#top-bar
  margin-left: 2vw
  margin-right: 50vw

#header-area
  min-height: 40vh
  padding: 2vh 0
  .hacktoberLogo
    max-width: 100vmin
    padding-top: 5vh
    padding-bottom: 5vh
    width: 80%

  .amFOSSLogo, .amritaLogo
    max-width: 10rem
    min-width: 15vw
    width: 100%
    margin: 0

  .header-title
    height: 100%

  h1
    color: $manga
    text-transform: uppercase
    font-size: calc(1.5rem + 2.5vmax)
    line-height: 110%
    margin: 0

  h3
    color: $surf
    font-size: calc(1.2rem + 1.5vmax)

#venue-details
  min-height: 50vh
  display: flex
  align-items: center
  justify-content: center
  color: white
  line-height: 1.3
  h2
    color: yellow
    font-size: calc(1.5rem + 2vmax)

  h3
    font-size: calc(1.3rem + 1.5vmax)

  .fs-4
    font-size: calc(1.2rem + 1vmax)

  .fs-5
    font-size: calc(1.1rem + 0.6vmax)

  .fs-6
    font-size: calc(1.1rem + 0.4vmax)

  #location-map
    width: 100%
    height: 100%
    min-height: 300px

.button
  background: linear-gradient(to right, $spark,$surf,$psybeam)
  margin-top: 0.5rem
  margin-bottom: 0.5rem
  padding: 0.8rem 2.8rem
  font-weight: 900
  color: #000
  text-align: center
  vertical-align: middle
  border: none
  animation-duration: 1s
  transition-duration: 0.4s
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 80%, 0% 20%)
  clip-path: polygon(10% 0%, 90% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 80%, 0% 20%)

.button:hover
  color: black
  background: linear-gradient(to right, $spark,$spark,$spark,$surf,$surf,$psybeam)
  transform: rotate(3deg)

#scroll-down
  position: absolute
  left: 50%
  bottom: 20px
  transform: translate(-50%, -50%)
  margin: 0 auto
  height: 5vh
  width: 5rem
  transition: all 1s ease-in-out

#scroll-down img:hover
  transform: scale(1.1)
  animation-duration: 3s

@media only screen and (max-width: 1100px )
  #scroll-down
    opacity: 0

#counter
  min-height: 35vh
  line-height: 1
  padding-top: 2vh
  .part
    // font-size: calc(1.5rem + 5vw)
    color: #f0f0f0
    text-align: center

    span
      display: block
      margin-top: 0.5rem
      font-family: 'JetBrains Mono', sans-serif
      // font-size: calc(1rem + 2.5vw)
      color: #f0f0f0
      padding: 0 0rem

  .button
    margin-left: 0.5rem

#youtube-card
  display: flex
  justify-content: center
  align-items: center
  margin: 64px 0px 32px 0px

  .outerCard
    width:100%
    max-width: 46rem
    min-width: auto
    min-height: auto
    background: linear-gradient(to right,$psybeam, $surf,$psybeam)
    border: 4px solid $surf
    border-radius: 1rem
    padding: 40px 48px
    position: relative
    box-shadow: $surf 0px 0px 12px
    transition-duration: 0.3s
    @media (max-width: 767px) 
      padding: 20px 24px
  
  .outerCard:hover
    box-shadow: $surf 0px 0px 24px
    translate: 0px -8px
  
  .content
    line-height: 0

  .outerCard::after
    background-image: url("../images/space-sparks.gif")
    background-size: cover
    background-position: center center
    border-radius: inherit
    width: 100%
    height: 100%
    left: 0px
    content: ""
    mix-blend-mode: color-dodge
    opacity: 0.5
    position: absolute
    top: 0px

  iframe
    display: block
    position: relative
    z-index: 2
    border-radius: 8px
    aspect-ratio: 16/9
    width: 100%
    // height: 100%

    


#registration-form
  // height: 100vh
  background: $void
  padding-top: 5vh
  padding-bottom: 5vh
  h2
    font-size: calc(1rem + 2.4vmax)
    text-shadow: 1px 1px 1px black, 0 0 8px blue, 0 0 3px $psybeam

    span
      color: $surf
      text-shadow: 1px 1px 1px black, 0 0 8px blue, 0 0 3px $psybeam
    p
      text-shadow: 1px 1px 1px black, 0 0 26px blue, 0 0 6px $psybeam

  form
    margin: 1rem 0
    .form-control
      border-radius: 0
      border: 3px solid $psybeam
      // border-image-source: linear-gradient(to right, $spark,$spark,$spark,$surf,$surf,$psybeam)
      //  border-width: 5pt
      //  border-image-slice: 1
      background: $manga
      color: $void
      text-shadow:0 0 2px $psybeam
      appearance: none

    .form-check-input
      background: none
      width: 1.2rem!important
      height: 1.2rem!important
      border: none
      margin: 0

    .form-check-label
      font-size: 80%
      color: $manga
      a
        color: white

    // input
    //   border-radius: 0
    //   border: 3px solid black
    //   background: none
    //   color: black
    //   appearance: none

    option
      color: black

#register-btn
  margin: 0

#learn-more
  min-height: 55vh
  padding: 2vh 10vw

  span
    color: $surf

#footer-logos
  img
    width: 3.5vw
    min-width: 48px
